<form id="form">
  <div>
    <input id="id" type="hidden" name="id" value="" />
  </div>
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" />
  </div>
  <div>
    <label for="reps">Reps</label>
    <input id="reps" type="number" name="reps" value="1" min="0" />
  </div>
  <div>
    <label for="weight">Weight</label>
    <input id="weight" type="number" name="weight" value="1" min="0" />
  </div>
  <div>
    <label for="date">Date</label>
    <input id="date" type="date" name="date" value="2022-01-01" />
  </div>
  <div>
    <label for="english">lb</label>
    <input type="radio" id="english" name="units" value="1" checked />
    <label for="metric">kg</label>
    <input type="radio" id="metric" name="units" value="0" />
  </div>
  <div id="submitRow">
    <button id="add" type="button" onclick="insertWorkout()">Add</button>
  </div>
  <div id="updateRow" class="hide">
    <button id="updateBtn" type="button" onclick="update()">
      Update
    </button>
    <button
      type="button"
      class="delete_button red"
      onclick="cancel()"
    >Cancel</button>
  </div>
</form>