<div>
    <h1><span>The Richard Simmons Slimmons 5000</span></h1>
</div>
<div>
    <img src="SIMMONSBANNER.png" alt="RICHARD SIMMONS BANNER">
</div>
<div>
    {{> form}}
</div>

<div>
    {{> table}}
</div>