h1 {
  color: blue;
}

span {
  background-color: coral;
}
form {
  color: blueviolet;
}

.red {
  background-color: red;
}

.delete_button {
  display: inline;
}

td {
  text-align: center; 
  vertical-align: middle;
}