/* h1 {
  color: blueviolet;
  background-color: coral;

} */

span {
  color: blueviolet;
  background-color: coral;
}
form {
  color: blueviolet;
}

.red {
  background-color: red;
}

.delete_button {
  display: inline;
}

td {
  text-align: center; 
  vertical-align: middle;
}