form {
  color: blueviolet;
}
span {
  color: blueviolet;
  background-color: coral;
}
td {
  text-align: center;
  vertical-align: middle;
}

.delete_button {
  display: inline;
}

.hide {
  display: none;
}

.red {
  background-color: red;
}
